:root {
    --primary: #007bff;
    --lightprimary: #0056b3;
    --white: #ffffff;
    --silver: #bcbcbc9e;
    --defaultlinkColor: #333;
    --yellow: #ffd700;
    --muted: #777777;
    --whtebbg: #f8fafc;
}
body{
     font-family: Arial, sans-serif;
    margin-top: 0;
    padding: 0; 
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    width: 4500px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header img{
    width: 600px;
    height: 180px;
    margin-left: 400px;
    
}

 nav .navbar li{ display: inline-block; }

nav .navbar a{
    text-decoration: none;
    color: #777777;
    width: 300px;
    display: flex;
    padding: 25px 20px;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-right: 25px;
    margin-right: -10px;
    
    
}

nav .navbar a:hover{ color:#007bff; cursor: pointer; }

button.appoi {
    width: 350px;
    height: 190px;
    font-size: 50px;
    border-radius: 15px;
    background-color: #0056b3;
    color: white;
    margin-right: 350px;

}
.header::after{
    content: "";
    width: 3600px;
    height: 4px;
    position: absolute;
    left: 450px;
    bottom: 1750px;
    background-color: #ccc;
}

/* section */
#maison{
    width: 4300px;
    height: 1300px;
    margin-top: 80px;
    display: flex;
     margin-left: 10%;
    margin-right: 10%; 
    justify-content: space-between;
}
#maison .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#maison .left h1{
    font-size: 190px;
    font-weight: bold;

}
#maison .left h1 span{
    font-size: 190px;
    color: #ffd700;

}
#maison .left p{
    font-size: 45px;
    color: #777777;
}

#maison .left button {
    background-color: #0056b3;
    color: white;
    width: 510px;
    height: 190px;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: -70px;
    
}
#maison .left input {
    color: black;
    width: 510px;
    height: 190px;
    font-size: 30px;
    border-radius: 10px;
    margin-left: 580px;
    margin-bottom: 70px;
    margin-top: -120px;
    text-align: center;
    font-weight: bold;
}
#maison .right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#maison .right img{ width: 50%; width: 50%;}

/* section rendvous */
#rendvous{
    width: 4405px;
    height: 500px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0056b3;
}
#rendvous .left{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

#rendvous .svr h2{
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 450px;

}
#rendvous .svr p{
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 450px;
}
#rendvous .right{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;


}
.consul{
    border: 3px solid black;
    width: 200px;
    height: 180px;
    border-radius: 15px;
    padding: 40px; 
    display: flex;
    margin-left: 0;
     margin-right: 950px; 
    text-align: center;
    background-color: #f8fafc;
    font-size: 37px;
    flex-direction: column;
    color: #777777;
    font-weight: bold;
}
.consult{
    border: 3px solid black;
    width: 240px;
    height: 220px;
    border-radius: 15px;
    padding: 20px; 
    display: flex;
    margin-left: 400px;
    margin-top: -268px;
    text-align: center;
    background-color: #f8fafc;
    font-size: 37px;
    flex-direction: column;
    color: #777777;
    font-weight: bold;
}.consulti{
    border: 3px solid black;
    width: 240px;
    height: 220px;
    border-radius: 15px;
    padding: 20px; 
    display: flex;
    margin-left: 800px;
    margin-top: -260px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 37px;
    background-color: #f8fafc;
    flex-direction: column;
    color: #777777;
    font-weight: bold;
}
.consul img{
    width: 90px;
    height: 90px;
    text-align: center;
    margin-left: 45px;
}
.consult img{
    width: 95px;
    height: 95px;
    text-align: center;
    margin-left: 45px;
    margin-top: 15px;
}
.consulti img{
    width: 95px;
    height: 95px;
    text-align: center;
    margin-left: 45px;
    margin-top: 15px;
}

/* section visite */
#visit{
    height: 1000px;
    width: 4300px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    background-color: #ffffff;
    margin-right: 160px;

}
#visit .left{
    width: 1500px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f8fafc;
    border-bottom-right-radius: 115px;
   
}

#visit .left img{
    width: 1050px;
    height: 600px;
    justify-content: center;
    margin-top: 150px;
}
#visit .right{
    width: 50%;
    height: 550px;
    display: flex;
    background-color: #ffffff;
}
 .right h4{
    margin-top: 100px;
    margin-left: 380px;
    font-size: 53px;
    font-weight: bold;
}

.right-right{
    margin-top: 250px;
    margin-left: -990px;
    font-size: 45px;
}
.right-left{
    margin-top: 250px;
    margin-left: 400px;
    font-size: 45px;

}
.right-right img{
    width: 50px;
}
.right-left img{
    width: 50px;
}

/* section bare */
#bare{
    width: 4500px;
    height: 500px;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 10%;
    justify-content: space-between;
    background-color: #ffffff;
    position: relative;
    
}

#bare .separation {
    margin-top: 50px;
    position: relative;
   text-align: center;
    width:4300px;
    height: 50%;
   
}
.separation h1{
    font-size: 95px;
    margin-top: 10px;
    margin-left: -4000px;
    font-weight: bold;
    position: relative;
}

/* .separation::before, */
.separation::after{ 
    content: "";
    position: absolute;
    width: 3400px;
    height: 3px;
    left:  400px;
    background-color: #ccc;
    margin-top: -110px;
    font-weight: bold;
}

#bare .phra h2{
    font-weight: bold;
    width: 850px;
    font-size: 80px;
    margin-left: 180px;
    position: absolute;
    margin-top: -160px;
   
}
#bare .phra h1{
    font-weight: bold;
    width: 1200px;
    font-size: 95px;
    margin-right: -3100px; 
    margin-left: 3360px; 
    font-weight: bold;
    position: absolute;
   margin-top: -100px;
   text-transform: uppercase;
}
#bare .phra h1 span{
    color: #ffd700;
}

/* section grid */
.contener{
    display: grid;
    border-left: 5px solid #f8fafc;
    width: 3800px;
    height: 1900px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    text-align: center;
   
}

.items{
    width: 1000px;
    height: 800px;
    background-color: #f8fafc;
    text-align: center;
    position: relative; 
    border-radius: 45px;
    font-size: 25px;
    transform: translate();
    border: 1px solid #ccc;

}
.items img{
    text-align: center;
    margin-top: 160px;
    width: 190px;
    height: 190px;
}
.items p{
    color: #777777;
    font-size: 40px;
}
.items h5{
    color: #333;
    font-size: 50px;
}

.smile{
    width: 4500px;
    height: 900px;
    background-color: #0056b3;
    justify-content: center;
    display: flex;
    margin-top: 120px;
    display: flex;
}
.continu{
    width: 30%;
    height: 30%;
    text-align: center;
    margin-left: 10px;
    margin-top: 135px;
    color: #ffffff;
    font-size: 60px;
}
.continu p{
    margin-top: 55px;
    font-size: 30px;
    color: #fff;
    width: 1400px;
    line-height: 2;

}
.continu span{
    font-size: 85px;
    font-weight: bold;
    color: #ffffff;
}
 .continu button{
    width: 600px;
    height: 130px;
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
    color: #ffffff;
    background-color: #0056b3;
    border: 3px solid #ffffff;
    border-radius: 15px;

} 


/* section bare */
#tire{
    width: 4500px;
    height: 800px;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 10%;
    justify-content: space-between;
    background-color: #ffffff;
    position: relative;
    
}

#tire .separation {
    margin-top: 80px;
    position: relative;
   text-align: center;
    width:4300px;
    height: 50%;
   
}
#tire .separation h1{
    font-size: 95px;
    margin-top: 140px;
    margin-left: 3000px;
    font-weight: bold;
    position: relative;
}

/* .separation::before, */
#tire .separation::after{ 
    content: "";
    position: absolute;
    width: 3400px;
    height: 3px;
    left:  50px;
    background-color: #ccc;
    margin-top: -110px;
}

#tire .phra h2{
    font-weight: bold;
    width: 850px;
    font-size: 80px;
    margin-left: 3510px;
    position: absolute;
    margin-top: -160px;
   
}
#tire .phra h1{
    font-weight: bold;
    width: 800px;
    font-size: 95px;
    margin-left: 250px; 
    font-weight: bold;
    position: absolute;
   margin-top: -110px;
   text-transform: uppercase;
}
#tire .phra h1 span{
    color: #ffd700;
}
/* section history */
#history{
    width: 4300px;
    height: 1200px;
    margin-top: 80px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%; 
    justify-content: space-between;
    background-color: #ffffff;
}
#history .left{
    width: 50%;
    height: 100%;
    display: flex;
}
#history .left img{
    width: 1300px;
    height: 950px;
    border-radius: 75px;
    margin-top: -60px;
}
#history .right{
    width: 2100px;
    height: 900px;
    margin-right: 800px;
    display: flex;
    border: 13px solid #f8fafc;
    border-radius: 35px;
    background-color: #f8fafc;
    font-size: 75px;
    margin-top: -80px;
    margin-left: -400px;

}
#history .right span{
    font-size: 35px;
    text-align: center;
    width: 1000px;
    height: 2700px;
    margin-top: 250px;
    margin-left: -1900px;
    color: #ccc;
    line-height: 2;
    
}
#history .right p{
    font-size: 100px;
    width: 1900px;
    margin-left: 150px;

}
 /* section trai */
 #meet{
    width: 4500px;
    height: 2000px;
    background-color: #f8fafc;
    margin-top: 280px;
}
 .trai{
    width: 4500px;
    height: 400px;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 10%;
    justify-content: space-between;
    background-color: #f8fafc;
    position: relative;
    margin-top: 180px;
    
}

.trai .separation {
    margin-top: 50px;
    position: relative;
   text-align: center;
    width:4300px;
    height: 50%;
   
}
.separation h1{
    font-size: 95px;
    margin-top: 10px;
    margin-left: -4000px;
    font-weight: bold;
    position: relative;
}

/* .separation::before, */
.separation::after{ 
    content: "";
    position: absolute;
    width: 3400px;
    height: 3px;
    left:  400px;
    background-color: #ccc;
    margin-top: -110px;
}

.trai .phra h2{
    font-weight: bold;
    width: 850px;
    font-size: 80px;
    margin-left: 180px;
    position: absolute;
    margin-top: -160px;
   
}
.trai .phra h1{
    font-weight: bold;
    width: 1200px;
    font-size: 95px;
    margin-right: -3100px; 
    margin-left: 3000px; 
    font-weight: bold;
    position: absolute;
   margin-top: -100px;
   text-transform: uppercase;
}
.trai .phra h1 span{
    color: #ffd700;
}

/* section doctors */
.dishes{
    display: flex;
    width: 4500px;
    height: 600px;
    margin-top: -150px;
    justify-content: space-between;
   gap: 200px;
}
.dishes .disha{
    height: 1500px;
    width: 700px;
    margin-left: 10%;
    margin-right: 10%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    margin-top: 180px;
    position: relative;


}
.dishes .dishb{
    height: 1500px;
    width: 700px;
    margin-left: 10%;
    margin-right: 10%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    margin-top: 180px;
    position: absolute;
    margin-left: 1370px;

}
.dishes .dishc{
    height: 1500px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    margin-top: 180px;
    position: absolute;
    margin-left: 2325px;

}
.dishes .dishd{
    height: 1500px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    margin-top: 180px;
    position: absolute;
    margin-left: 3250px;

}
.dishes .disha img {
width: 390px;
height: 390px;
margin-bottom: 115px;

}
.dishes .dishb img {
    width: 390px;
    height: 390px;
    margin-bottom: 115px;
    
}
.dishes .dishc img {
    width: 390px;
    height: 390px;
    margin-bottom: 115px;
    
}
.dishes .dishd img {
    width: 390px;
    height: 390px;
    margin-bottom: 115px;
    
}

.dishes .disha p{
    text-align: center;
    font-size: 37px;
}
.dishes .dishb p{
    text-align: center;
    font-size: 37px;
}
.dishes .dishc p{
    text-align: center;
    font-size: 37px;
}
.dishes .dishd p{
    text-align: center;
    font-size: 37px;
   
}
.dishes .disha span{
    text-align: center;
    font-size: 35px ;
    color: #777777;
    width: 370px;
}
.dishes .dishb span{
    text-align: center;
    font-size: 35px ;
    color: #777777;
    width: 370px;
}
.dishes .dishc span{
    text-align: center;
    font-size: 35px ;
    color: #777777;
    width: 370px;
}
.dishes .dishd span{
    text-align: center;
    font-size: 35px ;
    color: #777777;
    width: 370px;

}
.dishes .disha a{
    margin-top: 10px;
    font-size: 30px;
    text-decoration: 0;
    padding: 5px 60px;
    border-radius: 16px;
    width:200px;
    height: 80px;
    border: 5px solid #0056b3;
    text-align: center;
    color: #0056b3;
    background-color: #ffffff
}
.dishes .dishb a{
    margin-top: 10px;
    font-size: 30px;
    text-decoration: 0;
    padding: 5px 60px;
    border-radius: 16px;
    width:200px;
    height: 80px;
    border: 5px solid #0056b3;
    text-align: center;
    color: #0056b3;
    background-color: #ffffff
}
.dishes .dishc a{
    margin-top: 10px;
    font-size: 30px;
    text-decoration: 0;
    padding: 5px 60px;
    border-radius: 16px;
    width:200px;
    height: 80px;
    border: 5px solid #0056b3;
    text-align: center;
    color: #0056b3;
    background-color: #ffffff
}
 .dishes .dishd a{
    margin-top: 10px;
    font-size: 30px;
    text-decoration: 0;
    padding: 5px 60px;
    border-radius: 16px;
    width:200px;
    height: 80px;
    border: 5px solid #0056b3;
    text-align: center;
    color: #0056b3;
    background-color: #ffffff
}

/* section client */
#client{
    width: 4500px;
    height: 1300px;
    display: flex;
    justify-content: space-between;
    background-color: #0056b3;
}
#client .left{
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.left .centre{
    margin-top: 150px;
    width: 800px;
    height: 900px;
    background-color: #ffffff;
    justify-content: center;
    border-radius: 45px;



}
#client .left .centre img{
    width: 500px;
    height: 600px;
    border-radius: 45px;
    margin-top: 100px;
    margin-left: 150px;
    justify-content: center;
}
#client .right{
    width: 3200px;
    height: 800px;
    margin-right: 1600px;
    display: flex;
    border-radius: 35px;
    margin-top: 300px;
    font-size: 75px;
    color: #ffffff;


}
#client .right p{
    width: 1500px;
}
#client .right span{
    font-size: 35px;
    text-align: center;
    width: 300px;
    height: 300px;
    margin-top: 250px;
    margin-left: -1700px;
    color: #ffffff;
    line-height: 2;
    
}
.point{
    width: 50px;
    height: 50px;
    display: flex;
    
}
.point div{
    width: 50px;
    height: 50px;
    background-color: #fff;
    background-color: transparent;
    margin-top: 700px;
    margin-left: 30px;
}
#client .centre p{
    font-size: 50px;
    width: 1900px;
    margin-left: 210px;

}
/* section bare */
#ligne{
    width: 4500px;
    height: 1000px;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 10%;
    justify-content: space-between;
    background-color: #ffffff;
    position: relative;
    
}

#ligne .separation {
    margin-top: 80px;
    position: relative;
   text-align: center;
    width:4300px;
    height: 50%;
   
}
#ligne .separation h1{
    font-size: 95px;
    margin-top: 140px;
    margin-left: 3000px;
    font-weight: bold;
    position: relative;
}

/* .separation::before, */
#ligne .separation::after{ 
    content: "";
    position: absolute;
    width: 3400px;
    height: 3px;
    left:  50px;
    background-color: #ccc;
    margin-top: -110px;
}

#ligne .phra h2{
    font-weight: bold;
    width: 850px;
    font-size: 90px;
    margin-left: 3250px;
    position: absolute;
    margin-top: -160px;
   
}
#ligne .phra h1{
    font-weight: bold;
    width: 1250px;
    font-size: 105px;
    margin-left: 250px; 
    font-weight: bold;
    position: absolute;
   margin-top: -150px;
   text-transform: uppercase;
}
#ligne .phra h1 span{
    color: #ffd700;
}

/* section contact */
#contact {
    width: 4300px;
    height: 1300px;
    margin-top: 80px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%; 
    justify-content: space-between;
    background-color: #ffffff;
}
#contact .left img{
    width: 1300px;
    height: 1300px;
    border-radius: 50px;
}
#contact .right{
    width: 2500px;
    height: 1300px;
    margin-left: 10%;
    margin-right: 10%; 
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1900px;
    height: 1100px;
    margin-left: -680px;
    margin-top: 200px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    flex-direction: column;
  }
  
  .form1{
    display: flex;
  }
  .form1 .form2{
    display: flex;
    width: 850px;
    height: 400px;
    margin: 15px;
    flex-direction: column;
    margin-top: -190px;
  }
  
  .form3{
    display: flex;
    width: 1750px;
    margin: 15px;
    flex-direction: column;
  }
  
  
  .formulaire label {
    display: flex;
    font-weight: bold;
    margin: 10px;
    font-size: 45px;
    color: #777777;
  }
  .formulaire textarea{
    width: 100%;
    height: 800px;
    padding: 10px;
    border: 1px solid #777777;
    border-radius: 15px;

  }
  
  .formulaire input[type="text"],
  .formulaire select {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 40px;
    border: 1px solid #777777;
    border-radius: 15px;
    box-sizing: border-box;
  }
  .formulaire input[type="number"],
  .formulaire textarea, 
  .formulaire select {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 40px;
    border: 1px solid #777777;
    border-radius: 15px;
    box-sizing: border-box;
  }
  .formulaire input[type="date"],
  .formulaire select {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
  }
  
  .formulaire button {
    display: block;
    width: 100%; 
    height: 100px;
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border-radius: 15px;
    margin-top: 210px;
    font-size: 35px;

  }
  #check{
    position: absolute;
    display: flex;
    margin-left: -300px;
    width: 700px;
    height: 80px;
    margin-top: -120px;
}
.reme{
    position: absolute;
    display: flex;
    margin-left: 160px;
    margin-top: -90px;
    font-size: 40px;
    color: #777777;
}
/* section laste */
#laste{
    width: 4500px;
    height: 1100px;
    display: flex;
    justify-content: space-between;
    background-color: #f8fafc;
    margin-top: 80px;
}
#laste .milieu{
    width: 4300px;
    height: 700px;
    display: flex;
    background-color: #216583;
    border-radius: 35px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 190px;
    text-align: center;
    position: relative;
    /* margin-bottom: 50px; */
}
.milieu h2{
    color: #ffffff;
    font-size: 85px;
    text-align: center;
    margin-left: 1250px;
    margin-top: 180px;
}
.milieu .First input{
    background-color: #f8fafc;
    color: #ffffff;
    width: 500px;
    height: 100px;
    font-size: 35px;
    border-radius: 15px;
    /* position: absolute;  */
    margin-left: 100px;
    /* margin-right: 100px; */
}
.milieu .second input{
    background-color:#fff;
    color: #ffffff;
    width: 500px;
    height: 100px;
    font-size: 35px;
    border-radius: 15px;
    position: absolute;
    margin-left: 400px;
    margin-top: -110px;
    /* margin-right: 100px; */
}
.milieu .Subscribe input{
    background-color: #f8fafc;
    color: black;
    width: 500px;
    height: 100px;
    font-size: 35px;
    border-radius: 15px;
    margin-left: 1000px;
    position: absolute;
    margin-top: -110px;
}
/* section footer */
#footer{
    width: 4500px;
    height: 1100px;
    display: flex;
    justify-content: space-between;
    background-color: #0056b3;
   
}
.Dentics{
    margin-top: 200px;
    margin-left: 450px;
    width: 550px;
    color: #ccc;
    border-right: 1px solid #ffffff;
    font-size: 30px;
    line-height: 3;
    margin-bottom: 200px;
  
}
.Dentics img{
    filter: brightness(10);
    width: 500px;
}
.clinic{
    margin-top: 200px;
    margin-left: 0px;
    width: 450px;
    color: #ccc;
    border-right: 1px solid #ffffff;
    font-size: 30px;
    line-height: 3;
    margin-bottom: 200px;
}.clinic span{
    margin-top: 200px;
    margin-left: 50px;
    width: 450px;
    color: #ffffff;
    font-size: 50px;
    line-height: 3;
}
.face {
    display: flex;
    margin-top: 200px;
    margin-left: 50px;
    width: 450px;
    color: #ccc;
    border-right: 1px solid #ffffff;
    font-size: 30px;
    line-height: 3;
   margin-bottom: 200px;
}

.face p{
    display: flex;
    margin-top: 10px;
    margin-left: -350px;
    width: 450px;
    color: #ccc;
    font-size: 30px;
    line-height: 3;
 
}
.face .a{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: -350px;
    width: 450px;
    color: #ccc;
    font-size: 30px;
    line-height: 3;

}
.face .b{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 30px;
    width: 450px;
    color: #ccc;
    font-size: 30px;
    line-height: 3;

}
.hello{
    margin-top: 200px;
    width: 550px;
    color: #ccc;
    font-size: 30px;
    line-height: 3;
    margin-bottom: 200px;
  margin-right: 400px;
}

#pied{
    width: 4500px;
    height: 300px;
    background-color: #216583;
    display: flex;
}
.ref p{
    display: flex;
    color: #ffffff;
    text-align: center;
    font-size: 55px;
    margin-left: 1600px;
    margin-top: 100px;
}












